* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}


.container {
    display: flex;
    height: 100vh;
}

.logo {
    height: 70px;
    margin: 20px;
}

.asside {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #072e33;
    width: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
}

.asside nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 15px;
    display: block;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
}

.asside nav a:hover {
    background-color: #0c7075;
    transform: scale(1.05);
}

.main {
    margin-left: 15%;
    width: 85%;
    display: flex;
    flex-direction: column;
}

.nav {
    background-color: #0c7075;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search i {
    position: absolute; 
    left: 10px; 
    color: #333; 
    pointer-events: none; 
}

#search {
    padding: 8px 8px 8px 30px;
    border-radius: 5px;
    border: none;
    width: 300px; 
    margin-left: auto; 
    margin-right: 20px; 
}

.subnav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.subnav i {
    font-size: 150%; 
    margin-right: 8px;
}

.login {
    font-size: 90%; 
    text-align: center;
}

.login a {
    color: #ffffff;
}

.page {
    padding: 20px;
    padding-top: 30px;
    background-color: #f5f5f5; 
    color: #333;
    flex-grow: 1;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}
h2{
    margin: 20px 0px; 
}
.content {
    display: flex;
    gap: 20px;
    flex: 1;
    margin-top: 10px;
}

.infos-dette{
    display: flex;
    flex-direction: column;
    gap:3px;
    font-size: 18px;
    padding-left: 5px;
}

.dette {
    background-color: #0c7075;
    border-radius: 10px;
    padding: 20px;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.paiement {
    background-color: #3498DB;
    border-radius: 10px;
    padding: 20px;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-top: 5px;
}
.paiement input{
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    padding: 8px;
    width: 100%;
    font-size: 14px;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}

.annuler {
    background-color: #dc3545;
}

.annuler:hover {
    background-color: #c82333;
}

.enregistrer {
    background-color: #2980B9;
}

.enregistrer:hover {
    background-color: #3498DB;
}

.error {
    color: #dc3545;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #c82333;
    background-color: #fdd;
    border-radius: 5px;
}
.message {
    color: green;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid green;
    background-color: #fdd;
    border-radius: 5px;
}